<%= flash[:notice] %>

<table>
	<thead>
	<tr>
		<th>Status</th>
		<th>user#</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Password</th>
		<th>Admin</th>
		<th>Nationality</th>
		<th>Email</th>
		<th>Emailers?</th>
		<th>Birthday</th>
		<th>Language</th>
		<th>Gender</th>
		<th>Join Date</th>
	</tr>
	<% @users.each do |user| %>
	<tr>
		<td><%= user.status  %></td>
		<td><%= user.memb  %></td>
		<td><%= user.first_name  %></td>
		<td><%= user.last_name  %></td>
		<td><%= user.password_digest %></td>
		<td><%= user.admin %></td>
		<td><%= user.nationality  %></td>
		<td><%= user.email  %></td>
		<td><%= user.emailers  %></td>
		<td><%= user.dob  %></td>
		<td><%= user.language  %></td>
		<td><%= user.gender  %></td>
		<td><%= user.join_date  %></td>
	</tr>
	<% end %>
	</thead>
</table>
<div>
	<h4>Import that data!</h4>
	<%= form_tag import_users_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import CSV" %>
	<% end %>
</div>









