<!DOCTYPE html>
<html style="min-height: 100%">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OWCBangalore</title>
    <link href="/assets/bootstrap.min.css" media="all" rel="stylesheet" />
    <link rel="stylesheet" href="homes.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :stylesheet %>

  </head>
<body>
    <% unless flash.empty? %>
         <script type="text/javascript">
              <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
             toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
         </script>
    <% end %>
    <style type="text/css">body { margin: 0; padding-top: 80px; height: 100%; font-family: 'Open Sans',Arial,sans-serif;}</style>
<div id="holder" style="position: relative;">
      <div id="custom-menu" class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container" id="header_nav">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img id="logo" src="/assets/owclogo.png" alt="OWC"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/" >Home</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" id="drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bangalore <b class="caret"></b></a>
                  <ul class="dropdown-menu" aria-labelledby="drop1">
                    <li role="presentation"><a href="/moving_to" role="menuitem">Moving to Bangalore</a></li>
                    <li role="presentation"><a href="/life_in" role="menuitem">Life in Bangalore</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" id="drop2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Memebership <b class="caret"></b></a>
                  <ul role="menu" class="dropdown-menu" aria-labelledby="drop2">
                    <li role="presentation"><a href="/new_member" role="menuitem">New Members</a></li>
                    <li role="presentation"><a href="/renew_membership" role="menuitem">Renew Membership</a></li>
                    <li role="presentation"><a href="/publication" role="menuitem">Publication</a></li>
                    <li role="presentation"><a href="/volunteer" role="menuitem">Volunteer Opportunity</a></li>
                    <li role="presentation"><a href="/public_calendar" role="menuitem">Public Calendar</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Work <b class="caret"></b></a>
                  <ul role="menu" class="dropdown-menu" aria-labelledby="drop3">
                    <li role="presentation"><a href="/charities" role="menuitem">Charities</a></li>
                    <li role="presentation"><a href="/contributions" role="menuitem">Contributions</a></li>
                    <li role="presentation"><a href="/fundraising" role="menuitem">Fundraising</a></li>
                    <li role="presentation"><a href="/ssg" role="menuitem">Social Support Group</a></li>
                  </ul>
                </li>
                <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" id="drop4" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Member's Only <b class="caret"></b></a>
                  <ul role="menu" class="dropdown-menu" aria-labelledby="drop4">
                    <li role="presentation"><a href="/chat_room" role="menuitem">Chat Room</a></li>
                    <li role="presentation"><a href="/member_calendar" role="menuitem">Member Calendar</a></li>
                    <li role="presentation"><a href="/board_members" role="menuitem">Board Members</a></li>
                    <li role="presentation"><a href="/payments" role="menuitem">Payment Gateway</a></li>
                  </ul>
                </li>
                <% end %>
                <% if current_user.nil? %>
                <li class="dropdown" id="login">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="drop5" role="button" aria-haspopup="true" aria-expanded="false">Sign In <b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" id="loginbox" aria-labelledby="drop4">
                      <%= form_for :user, url: "/login_user", html: { class: "" } do |f| %>
                      <div class="form-inputs">
                        <%= f.label :email %>
                        <%= f.text_field :email, required: false, autofocus: true, id: "inputs" %>
                        <%= f.label :password, id: "pass" %>
                        <%= f.password_field :password, required: false, id: "inputs" %>
                      </div>
                      <div class="form-actions" id="logbut">
                         <%= f.submit "Login", class: "btn btn-success", id: "loginbutton" %>
                      </div>
                      <% end %>
                    </ul>
                </li>
                <% end %>
                <% if current_user %>
                <% if current_user.superadmin_role == false %>
                <ul class="nav navbar-nav" id="loggedin">
                    <p class="navbar-text navbar-right">Hello, &nbsp <%= current_user.first_name %></p>
                    <li><a href="mailbox/inbox">Inbox <span class="badge" style="color: red"><%= unread_messages_count%></span></a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
               <% elsif current_user.superadmin_role == true %>
                <ul class="nav navbar-nav" id="loggedinadmin">
                    <li><a href="#">Hello, <%= current_user.first_name %></a></li>
                    <li><a href="mailbox/inbox">Inbox <span class="badge"><%= unread_messages_count%></span></a></li>
                    <li><a href="/admin">Admin Page</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <% end %>
                <% end %>
              </ul>
            </div> <!-- /navbar-collapse -->
        </div><!-- /container -->
      </div><!-- /navbar wrapper -->
    <%= yield %>
      <div id="footer-wrapper" class="dropup">
        <ul class="footer_info">
          <h4 class="footerheaders">About Us</h4>
          <li><a href="/owc_club_info">Club Information</a></li>
          <li><a href="/mission_statement">Mission Statement</a></li>
          <li><a href="/journey">Journey so far</a></li>
        </ul>
      <!-- Contact Us -->
        <ul class="footer_info">
          <h4 class="footerheaders">Contact Us</h4>
          <li><a href="/contact">Contact Form</a></li>
          <li><a href="/executive_comittee">Executive Comittee</a></li>
          <li><a href="/trustee">Trustee</a></li>
        </ul>
      <!-- Advertisements -->
        <ul class="footer_info">
          <h4 class="footerheaders">Advertisements</h4>
          <li><a href="/sponsor">Sponsors</a></li>
          <li><a href="/sponsor_form">Sponsor Form</a></li>
          <li><a href="/advertisements">Advertisements</a></li>
        </ul>
        <ul class="footer_info">
          <h4 class="footerheaders">Community</h4>
          <li><a href="/volunteer">Get Involved</a></li>
          <li><a href="/charities">Charities</a></li>
          <li><a href="/ssg">Social Support Group</a></li>
        </ul>
        <ul class="footer_info" id="cur_time">
          <h4 class="footerheaders" style="margin-bottom: 0px;">Current Time in</h4>
          <h4 class="footerheaders" style="margin-top: 0px; margin-bottom: 3px;">Bangalore</h4>
          <li style="margin-top: 2px;"><p><%= Time.zone.now.strftime('%a, %b %d, %y ')%></p></li>
          <li><p><%= Time.zone.now.strftime('%H:%m (%I:%m %p)')%></p></li>
        </ul>
        <ul class="footer_info" id="follow_us">
          <h4> Follow us </h4>
          <li><a target="_blank" href="http://www.facebook.com/overseaswomensclub/"><img alt="facebook.jpg" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=0></a></li>
        </ul>
        <ul>
          <p id="legal">© 2017 www.owcbangalore.org - All Rights Reserved</p>
        </ul>
      </div>

</div>
  </body>
</html>
